.logoImage {
    height: 60px;
    width: 60px;
}

html,
body {
    height: 100%;
    width: 100%;
}

.mainContainer {
    height: 100%;
    width: 100%;
}

.raddison {
    height: 500px;
    width: 500px;
}

.socialImg {
    height: 20px;
    width: 22px;
}