.raddison {
    height: 300px;
    width: 270px;
}

.nameofhotel {
    display: flex;
    background-color: rgb(132, 136, 139);
    width: 50%;
    height: 20%;
    margin: 6% auto 2% auto;
}

.desc {
    padding: 2%;
    font-family: 'Ubuntu';
}

.customer {
    margin: 2%;
}

.tarrif {
    border-radius: 5px;
    margin: 2%;
    padding: 1% 2% 1% 2%;
}

.pay {
    text-decoration: none;
    color: black;
    line-height: 10;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.down {
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid;
    margin: 2%;
    border-radius: 25px;
}